@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: rgb(30, 58, 95);
}

#container{
  display: flex;
  border: 2px solid rgb(120, 120, 150);
  background-color: rgb(150, 150, 180);
  width: 100% - 6;
  height: 420px;
  border-radius: 3px;
  margin-top: 10px;
  transition: height 0.5s ease, transform 0.5s ease;
}

.bar {
  margin-top: auto;
  background-color: rgb(35,35,80);
  border: 1px solid lavender;
  color: rgb(200, 200, 230);
  width: 56px;
  text-align: center;
  align-items: center;
  font-size: 12px;
}

hr {
  color: rgb(120, 120, 150);
}

label {
  font-size: 12px;
}

h1 {
  color: white;
  font-size: 250%;
}

#config {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-end;
  margin-bottom: 1.25rem;
}

#timer-config {
  margin-left: auto;
}

#timer {
  height: 10px;
  font-size: 140%;
  color: aquamarine;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin-left: 10px;
  margin-right: 10px;
}

.slider label {
  font-size: .85rem;
  color: white;
  height: 10px;
  letter-spacing: .045em;
}

input[type="range"] {
  width: 180px;
}

.swapping {
  background-color: red;
  color: silver;
}

.comparing {
  background-color: rgb(188, 135, 32);
  color: silver;
}

#bucketContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;

  margin-top: 15px;
  overflow: hidden;
  padding: 10px;
  border-radius: 3px;
}

.bucket {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  

  background: lavender;
  border: 1px solid #aaa;
  height: 85px;
}